{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title> <!-- Bloque para el título específico de cada página -->
    
    <!-- Fuente Prompt de Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap" rel="stylesheet">
    
    <!-- Incluir el archivo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}"> <!-- Ruta del archivo CSS estático -->
    
    {% block extra_css %}
    <!-- Espacio para agregar estilos adicionales de otras páginas -->
    {% endblock %}

    <script src="{% static 'core/js/scripts.js' %}"></script>
    
    {% block extra_js %}
    <!-- Espacio para agregar js adicionales de otras páginas -->
    {% endblock %}

    <!-- Incluir icono pagina -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon_jobconnect.png' %}">
</head>
<body>
    <header>
        <nav>
            <!-- Sidebar - Menú lateral para pantallas pequeñas -->
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a href="{% url 'home' %}"><img src="{% static 'core/images/close_16dp_E8EAED_FILL0_wght400_GRAD0_opsz20.png' %}" height="30" width="30" alt="Cerrar menú"></a>
                </li>
                <!-- Enlaces del menú de navegación -->
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'trabajos' %}">Trabajos</a></li>
                    <li><a href="{% url 'lista_usuarios' %}">Expertos</a></li>
                    <li><a href="{% url 'perfil' %}">Perfil</a></li>
                    {% if request.user.is_staff %} 
                    <!-- Este enlace será visible solo para los usuarios que son "staff" -->
                        <li><a href="{% url 'gestionar_entidades' %}">Panel Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'exit' %}">Salir</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Ingresar</a></li>
                {% endif %}
            </ul>

            <!-- Navegación principal -->
            <ul>
                <li class="icon"><h1>JobConnect</h1></li> <!-- Logo o nombre del sitio -->
                <li class="hideOnMobile"><a href="{% url 'home' %}">Inicio</a></li>
                <li class="hideOnMobile"><a href="{% url 'nosotros' %}">Nosotros</a></li>
                {% if request.user.is_authenticated %}
                    <li class="hideOnMobile"><a href="{% url 'trabajos' %}">Trabajos</a></li>
                    <li class="hideOnMobile"><a href="{% url 'lista_usuarios' %}">Expertos</a></li>
                    <li class="hideOnMobile"><a href="{% url 'perfil' %}">Perfil</a></li>
                    {% if request.user.is_staff %} 
                    <!-- Este enlace será visible solo para los usuarios que son "staff" -->
                    <li><a href="{% url 'gestionar_entidades' %}">Panel Admin</a></li>
                    {% endif %}
                    <li class="hideOnMobile"><a href="{% url 'exit' %}">Salir</a></li>
                {% else %}
                    <li class="hideOnMobile"><a href="{% url 'login' %}">Ingresar</a></li>
                {% endif %}
                <li class="menu-button" onclick="showSidebar()">
                    <a href="#"><img src="{% static 'core/images/menu_16dp_E8EAED_FILL0_wght400_GRAD0_opsz20.png' %}" height="30" width="30" alt="Abrir menú"></a>
                </li>
            </ul>
        </nav>
    </header>
    
    
    {% block content %}
    <!-- Contenido específico de cada página -->
    {% endblock %}

    <footer>
        <div class="footer-container">
            <!-- Logo y eslogan -->
            <div class="footer-logo">
                <h2>JobConnect</h2>
                <p>Expertos en construir oportunidades y brindar soluciones.</p>
            </div>
    
            <!-- Enlaces rápidos -->
            <div class="footer-links">
                <h3>Enlaces rápidos</h3>
                <ul>
                    <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                    <li><a href="{% url 'soporte' %}">Soporte</a></li>
                    <li><a href="{% url 'preguntas_frecuentes' %}">Preguntas frecuentes</a></li>
                </ul>
            </div>
    
            <!-- Información de contacto -->
            <div class="footer-contact">
                <h3>Contacto</h3>
                <p>Dirección: 1234 Calle Falsa, Ciudad</p>
                <p>Email: contacto@jobconnect.com</p>
                <p>Teléfono: +123 456 7890</p>
            </div>
    
            <!-- Redes sociales -->
            <div class="footer-social">
                <h3>Síguenos</h3>
                <ul>
                    <li><a href="#"><img src="{% static 'core/images/face.png' %}" alt="Facebook"></a></li>
                    <li><a href="#"><img src="{% static 'core/images/twit.png' %}" alt="Twitter"></a></li>
                    <li><a href="#"><img src="{% static 'core/images/insta.png' %}" alt="LinkedIn"></a></li>
                </ul>
            </div>
        </div>
        <div>
            <!-- Botón de Scroll To Top -->
            <button onclick="scrollToTop()" id="scrollTopBtn" title="Volver arriba">↑</button>
        </div>
        <!-- Pie de página inferior -->
        <div class="footer-bottom">
            <p>© 2024 JobConnect. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>