{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/nosotros.css' %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'core/js/Nosotros.js' %}"></script>
{% endblock %}

{% block content %}
<section class="about-us">
  <h1>Sobre Nosotros</h1>
  <div class="first-section section-container">
      En <strong>JobConnect</strong>, nuestro objetivo es conectar personas con nuevas oportunidades laborales...
  </div>

  <!-- Grid de videos -->
  <div class="videos-grid">
      <div class="video-container">
          <h4 class="video-title">Crear e ingresar una cuenta</h4>
          <iframe width="400" height="250" src="https://www.youtube.com/embed/0NlYrhUW3AI"
              title="YouTube video player" allow="accelerometer; autoplay; clipboard-write;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="video-description">Descubre cómo en JobConnect puedes crear una cuenta e ingresar con esta.</p>
      </div>
      <div class="video-container">
          <h4 class="video-title">Trabajos</h4>
          <iframe width="400" height="250" src="https://www.youtube.com/embed/5WDOWsLh35g"
              title="YouTube video player" allow="accelerometer; autoplay; clipboard-write;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="video-description">Descubre cómo en JobConnect puedes crear, editar o eliminar un trabajo por el motivo que encuentres necesario.</p>
      </div>
      <div class="video-container">
          <h4 class="video-title">Postular a un trabajo</h4>
          <iframe width="400" height="250" src="https://www.youtube.com/embed/cNSw_J9cZaA"
              title="YouTube video player" allow="accelerometer; autoplay; clipboard-write;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="video-description">Explora en la lista de trabajos y descubre cómo postular a los trabajos que sean de tu interés.</p>
      </div>
      <div class="video-container">
          <h4 class="video-title">Aceptar,finalizar y pagar "mi trabajo"</h4>
          <iframe width="400" height="250" src="https://www.youtube.com/embed/sifpwCaOg7Y"
              title="YouTube video player" allow="accelerometer; autoplay; clipboard-write;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="video-description">Descubre cómo siendo el “empleador” puedes aceptar la postulación del trabajador que mas te interese, finalizar el trabajo cuando se complete y realizar el pago correspondiente del cual llegaron de acuerdo.</p>
      </div>
      <div class="video-container">
          <h4 class="video-title">Reseñas</h4>
          <iframe width="400" height="250" src="https://www.youtube.com/embed/I9pBEtEcmeE"
              title="YouTube video player" allow="accelerometer; autoplay; clipboard-write;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="video-description">Aprende como en JobConnect puedes dejar tu reseña luego de realizar tu función correspondiente, siendo tanto trabajador como empleador, puedes dejar una calificación, una descripción y agregar una foto si lo encuentras necesario.</p>
      </div>
      <div class="video-container">
          <h4 class="video-title">Punto de vista del staff</h4>
          <iframe width="400" height="250" src="https://www.youtube.com/embed/fSw0RItuAVA"
              title="YouTube video player" allow="accelerometer; autoplay; clipboard-write;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="video-description">Los usuarios staff tienen la función de mantener un orden y un ambiente cómodo para los usuarios, por lo cual tienen las capacidades de poder editar y borrar cualquier cosa que encuentren necesario para mantener un ambiente ideal en JobConnect, además a continuación podrás ver todas las funciones de filtros que hay tanto en los usuarios como en los trabajos.</p>
      </div>
      <div class="video-container">
        <h4 class="video-title">Inicio</h4>
        <iframe width="400" height="250" src="https://www.youtube.com/embed/COfoUrNwDqE"
            title="YouTube video player" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="video-description">En JobConnect contamos con un inicio que se divide principalmente en 3 áreas, las cuales son: Nosotros-Soporte-Preguntas Frecuentes.</p>
    </div>
  </div>

  <!-- Misión, Visión, Valores -->
  <div class="mission-section section-container">
      <h3>Nuestra Misión</h3>
      <p>Ofrecer una plataforma eficiente y accesible para conectar a las personas adecuadas...</p>
  </div>
  <div class="vision-section section-container">
      <h3>Visión</h3>
      <p>Aspiramos a ser una de las plataformas de referencia para la búsqueda de empleo.</p>
  </div>
  <div class="values-section section-container">
      <h3>Valores</h3>
      <ul>
          <li><strong>Integridad:</strong> Transparencia y honestidad.</li>
          <li><strong>Innovación:</strong> Mejora continua.</li>
          <li><strong>Compromiso:</strong> Experiencia de usuario satisfactoria.</li>
      </ul>
  </div>
</section>
{% endblock %}